body {
	font-family: Arial, Helvetica, sans-serif;

}

.navbar {
  margin: 20px 300px 20px 300px;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}



@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.welcome_section{
  margin: 20px 300px 20px 300px;
  padding: 10px;
  background-color: grey;
  text-align: center;
  font-size: 30px;
  
}

.grid-container {
  margin: 20px 300px 20px 300px;
  display: grid;
  grid-template-columns: 30% 30% 29%;
  grid-template-rows: auto ;
  grid-gap: 0px;
      
}

.grid-container > div {
  position: relative;
  background-color: red;
  border: 1px solid black;
  text-align: center;
  padding: 25px 0;
  font-size: 25px;
  
}
.grid-container , button{
  font-size: 40px;
  width: 75%;
 
}

#grid_button1{
  
  font-size: 30px;
  position: absolute;
  bottom: 0;
  padding-left: 0;
  width: 100%;
  right: 0;
}
#grid_button2{
  
  font-size: 30px;
  position: absolute;
  bottom: 0;
  padding-left: 0;
  width: 100%;
  right: 0;
}

#grid_button3{
  
  font-size: 30px;
  position: absolute;
  bottom: 0;
  padding-left: 0;
  width: 100%;
  right: 0;
}

a{
  text-decoration: none;
}